---
import Layout from "../layouts/Layout.astro";
import { CldUploadWidget } from "astro-cloudinary";
import ImageList from "../components/vue/image-list/image-list.vue";
import HowTo from "../components/vue/how-to/how-to.vue";
---

<Layout title="Halloween Me - Cloudinary Hackathon">
  <main
    class="min-h-screen bg-orange-900 flex flex-col items-center justify-center p-4"
  >
    <div
      class="max-w-md w-full bg-black rounded-lg shadow-2xl overflow-hidden relative"
    >
      <a
        href="https://github.com/iibengo/halloween-me-cloudinary-hackathon"
        target="_blank"
        class="text-sm absolute top-0 right-0 transform rotate-45 origin-top-right bg-gray-900 py-1 px-4 text-white font-bold shadow-lg hover:bg-orange-600 transition duration-300 ease-in-out"
        style="top: 105px; right: -33px; width: 200px; text-align: center;"
      >
        🎃 Fork me 🎃
      </a>
      <div class="rounded-md ">
        <a href="/es" class="text-orange-500 hover:bg-gray-700 rounded-md px-2">
          ES
        </a>

        <a href="/" class="text-orange-500 hover:bg-gray-700 rounded-md px-2">
          EN
        </a>
      </div>
      <div class="p-6 space-y-6">
        <h1 class="text-3xl font-extrabold text-orange-500 text-left">
          Halloween Me App
        </h1>
        <h3 class="text-2xl text-orange-500">
          Cloudinary CloudCreate: Spooky AI Hackathon
        </h3>
        <CldUploadWidget
          id="upload-widget"
          uploadPreset="upload-unsigned-images"
          options={{
            sources: ["local"],
            multiple: false,
            maxFiles: 1,
            language: "es",
            text: {
              es: {
                or: "O",
                menu: {
                  files: "Subir desde tu dispositivo",
                },
                local: {
                  browse: "Seleccionar",
                  dd_title_single: "Arrastra tu imagen aquí",
                },
              },
            },
          }}
        >
          <button
            class="flex items-center justify-center mt-6 w-full py-3 px-6 bg-orange-500 hover:bg-orange-600 text-white font-bold rounded-full transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-orange-400 focus:ring-opacity-50"
          >
            <img
              src="assets/icon/pumpkin.svg"
              alt="Pumpkin Icon"
              class="w-6 h-6 mr-2"
            />
            <span class="mr-2">HALLOWEEN ME</span>
            <img
              src="assets/icon/pumpkin.svg"
              alt="Pumpkin Icon"
              class="w-6 h-6 mr-2"
            />
          </button>
        </CldUploadWidget>
        <p class="mt-4 text-1-xl text-orange-500 text-left">
          Latest <span class="font-bold">HalloweenMe's</span>
        </p>
        <!-- Renderizamos el componente ImageList que ahora maneja las imágenes -->
        <ImageList client:only isEnglish={true}/>

        <HowTo client:only en={true} />
        <p class="text-center text-gray-500 text-sm mt-4">
          This app uses AI powered by <a
            class="text-orange-500"
            href="https://cloudinary.com/blog/cloudinary-cloudcreate-spooky-ai-hackathon"
            target="_blank"
            >Cloudinary
          </a> for image generation. This project is a 
          <a
          class="text-orange-500"
          href=" https://github.com/midudev/cloudinary-hackathon-astro-example"
          target="_blank"
          >
          fork  </a>
         
           of an example by 
          <a
            class="text-orange-500"
            href="https://midu.dev/"
            target="_blank"
            >Midudev
          </a>.
        </p>
      </div>
    </div>
  </main>

  <script lang="ts" is:inline>
    const widget = document.getElementById("upload-widget");

    if (widget) {
      widget.addEventListener("clduploadwidget:success", async (e) => {
        const publicId = e.detail.info.public_id;
        await fetch("/api/saveImageService", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            cloudinaryId: publicId,
            original: true,
            cloudinaryUrl: "",
          }),
        });

        window.location.href = `/photo?cid=${publicId}`;
      });
    }
  </script>
</Layout>
