---
import Layout from "../layouts/Layout.astro"
import { CldUploadWidget, CldImage } from "astro-cloudinary"

import { getCollection } from "astro:content"
const images = await getCollection("images")
import '../styles/global.css';
---

<Layout title="Cloudinary Hackathon">
  <main class="min-h-screen bg-orange-900 flex items-center justify-center p-4">
    <div class="max-w-md w-full bg-black rounded-lg shadow-2xl overflow-hidden">
      <div class="p-6 space-y-6">
        <h1 class="text-3xl font-extrabold text-orange-500 text-center">
          Hackathon Cloudinary
        </h1>
        <CldUploadWidget
          id="upload-widget"
          uploadPreset="upload-unsigned-images"
          options={{
            sources: ["local"],
            multiple: false,
            maxFiles: 1,
            language: "es",
            text: {
              es: {
                or: "O",
                menu: {
                  files: "Subir desde tu dispositivo",
                },
                local: {
                  browse: "Seleccionar",
                  dd_title_single: "Arrastra tu imagen aquí",
                },
              },
            },
          }}
        >
          <button class="w-full py-3 px-6 bg-orange-500 hover:bg-orange-600 text-white font-bold rounded-full transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-orange-400 focus:ring-opacity-50">
            Upload
          </button>
        </CldUploadWidget>
        <ul class="grid grid-cols-2 gap-4 mt-6">
          {images.map((image) => (
            <li >
              <a href={`/photo?id=${image.data.public_id}`}>
                <CldImage
                  src={image.data.public_id}
                  width={250}
                  height={250}
                  crop={{
                    type: "fill",
                    source: true,
                  }}
                  class="rounded-lg border-4 border-orange-500"
                />
              </a>
            </li>
          ))}
        </ul>
      </div>
    </div>
  </main>

  <script>
    import { navigate } from "astro:transitions/client"

    const widget = document.getElementById("upload-widget")

    if (widget) {
      widget.addEventListener("clduploadwidget:success", ((
        e: CustomEvent<{ info: { public_id: string } }>
      ) => {
        const publicId = e.detail.info.public_id
        navigate(`/photo?id=${publicId}`)
        
      }) as EventListener)
    }
  </script>

  <style scoped>
    main {
      text-align: center;
    }

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4px;
      list-style: none;
    }
  </style>
</Layout>
