---
// Importa tu componente Vue
import PhotoView from '../components/photo/photo.vue';

import HalloweenMe from '../components/halloween-me.vue';
// Puedes manejar los parámetros aquí si es necesario
const { searchParams } = Astro.url;
const id = searchParams.get("id");

if (id == null) return Astro.redirect("/");
---

      <div class="bg-gray-900"> 

<HalloweenMe  client:only   />
</label>